<!DOCTYPE html>
<html ng-app="test-rangechart">
<head>
  <title></title>
</head>
<body ng-init="w=200;height=10;h=20;l=10;o=13;c=15">
<rangechart width="w" height="height" open="o" high="h" low="l" close="c" color="#333"></rangechart>
<br />
o <input type="number" ng-model="o" /><br />
h <input type="number" ng-model="h" /><br />
l <input type="number" ng-model="l" /><br />
c <input type="number" ng-model="c" /><br />

<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="range-chart.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>